html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfIjHeY1bOeMyiitEOWmqNjT9yQSt1ngSlKg&usqp=CAU);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;

 }