html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrDlX6zaneCG2iU_wo4EWF8Qto6g0F2fOP7A&usqp=CAU);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;

 }