html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmw95fX5Vsys3y9mRdg7M2xcSTADfjVRS2uQ&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

 }